.intro-wrapper
{
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.intro-picture
{
  position: absolute;
}

.intro-title
{
  z-index: 10;
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.intro-spinner
{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
    color: lightslategray
}