.intro-wrapper
{
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
    position: relative;
}

.intro-picture
{
    position: absolute;
}

.intro-title
{
    z-index: 10;
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.title-loader
{
    color: grey;
    font-size: 100px;
    margin-top: 10%;
}
