<div class="intro-wrapper" (window:resize)="CenterImage()">
  <div class="row">
      <div [ngClass]="{'hidden': titleLoaded}" class="fa fa-circle-o-notch fa-spin intro-spinner"></div>
  </div>
  <video muted loop autoplay poster="{{pictureUrl}}" #video [ngClass]="{'visibility-hidden': !imageLoaded}" class="intro-picture">
    <source src="{{videoUrl + '.webm'}}" type="video/webm">
    <!-- <source src="{{videoUrl + '.ogv'}}" type="video/ogg"> -->
    <source src="{{videoUrl + '.mp4'}}" type="video/mp4">
  </video>
  <img [ngClass]="{'hidden': !titleLoaded}" src="{{titleUrl}}" class="intro-title animated fadeIn" (load)="TitleLoaded()">
</div>
