.gallery
{
    background: black;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.curtain
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 99;
}

.scrollbar-hidden
{
    overflow-y: hidden;
}