.gallery-image-wrapper
{
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gallery-image
{
    position: absolute;
    margin: auto;
}

.smaller-than-wrapper
{
  width: 100%;
}